table.table-form {
  margin: 12px 0;
}
table.table-form tr {
    height: 46px;
}
table.table-form tr th {
      width: 100px;
      text-align: right;
}
table.table-form tr td:nth-child(2) {
      width: 236px;
}
table.table-form tr td:nth-child(3) {
      color: #bbb;
      font-size: 13px;
}
.table-list tr:nth-child(1) th:nth-child(2),
.table-list tr:nth-child(1) td:nth-child(2) {
  width: 12%;
}
.table-list tr:nth-child(1) th:nth-child(3),
.table-list tr:nth-child(1) td:nth-child(3) {
  width: 11%;
}
.table-list tr:nth-child(1) th:nth-child(4),
.table-list tr:nth-child(1) td:nth-child(4) {
  width: 9%;
}
.table-list tr:nth-child(1) th:nth-child(5),
.table-list tr:nth-child(1) td:nth-child(5) {
  width: 9%;
}
.table-list tr:nth-child(1) th:nth-child(6),
.table-list tr:nth-child(1) td:nth-child(6) {
  width: 9%;
}
.table-list tr:nth-child(1) th:nth-child(7),
.table-list tr:nth-child(1) td:nth-child(7) {
  width: 8%;
}
.table-list tr:nth-child(1) th:nth-last-child(1),
.table-list tr:nth-child(1) td:nth-last-child(1) {
  width: 50px;
}

