.list {
  background-color: #f8f8f8;
  flex: auto;
  display: flex;
  flex-direction: column;
}

.vi-list {
  .list-item-add {
    .vi-list-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .vi-list-item {
    height: 160px;
    cursor: pointer;
    .row {
      padding: 5px 0;
      .name {
        font-size: 16px;
      }
      i {
        font-size: 14px;
        margin-right: 5px;
      }
      .number {
        color: red;
      }
      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;
        margin-right: 10px;
        flex: none;
      }
    }
    .description {
      color: #9a9a9a;
    }
  }
}

.filter-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 5px;
  margin-left: 6px;
  .filter-box {
    user-select: none;
    position: relative;
  }
  .vi-search {
    flex: none;
    width: 280px;
    margin-right: 10px;
  }
}
